@page "/borrowbook"
@using BlazorLab.Data
@using BlazorLab.Services
@inject ILibraryService Librarian

<PageTitle>BorrowBook</PageTitle>

<h1>Borrow a Book</h1>
<br />
<h2> Available Books</h2>
<table style="width: 100%">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
	</tr>
	@foreach (var value in Librarian.ListBooks())
	{
		<tr>
			<td>@value.Id</td>
			<td>@value.Title</td>
			<td>@value.Author</td>
			<td>@value.ISBN</td>
		</tr>
	}
</table>
<br />
<br />
<h2> List Of All Users</h2>
<br />
<table style="width: 100%">
	<tr>
		<th>ID</th>
		<th>Username</th>
		<th>Email</th>
	</tr>
	@foreach (var value in Librarian.ListUsers())
	{
		<tr>
			<td>@value.Id</td>
			<td>@value.Name</td>
			<td>@value.Email</td>
		</tr>
	}
</table>
User ID:<input type="number" @bind=userid />
Book ID: <input type="number" @bind=id />
<button @onclick=BorrowTheBook>Borrow Book</button>
<br />
@if(message != "")
{
	<p>@message</p>
}
@code{
	int userid;
	int id;
	string message = "";
	public async Task BorrowTheBook()
	{
		Librarian.BorrowBook(id, userid);
		message = "book borrowed";
	}
}